[package]
name = "rskafka"
version = "0.1.0"
edition = "2021"
license = "MIT/Apache-2.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
async-trait = "0.1"
bytes = "1.1"
crc = "2"
futures = "0.3"
parking_lot = "0.11"
pin-project = "0.4"
rand = "0.8"
rustls = "0.20"
thiserror = "1.0"
time = "0.3"
tokio = { version = "1.14", default-features = false, features = ["io-util", "net", "rt", "sync", "time"] }
tokio-rustls = "0.23"
tracing = "0.1"
varint-rs = "2.2"

[dev-dependencies]
assert_matches = "1.5"
dotenv = "0.15"
futures = "0.3"
proptest = "1"
proptest-derive = "0.3"
rustls-pemfile = "0.2"
rdkafka = "0.28"
tokio = { version = "1.14", features = ["macros"] }
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
uuid = { version = "0.8", features = ["v4"] }
