---
version: 2.1

orbs:
  slack: circleci/slack@4.10.1

commands:
  rust_components:
    description: Verify installed components
    steps:
      - run:
          name: Ensure toolchain is present
          command: rustup toolchain install
      - run:
          name: Verify installed components
          command: |
            rustup --version
            rustup show
            cargo fmt --version
            cargo clippy --version

  cache_restore:
    description: Restore Cargo Cache
    steps:
      - restore_cache:
          name: Restoring Cargo Cache
          keys:
            - cargo-cache-{{ arch }}-{{ .Branch }}-{{ checksum "Cargo.toml" }}
            - cargo-cache-{{ arch }}-{{ .Branch }}
            - cargo-cache
  cache_save:
    description: Save Cargo Cache
    steps:
      - save_cache:
          name: Save Cargo Cache
          paths:
            - ~/.cargo/registry
          key: cargo-cache-{{ arch }}-{{ .Branch }}-{{ checksum "Cargo.toml" }}

  install_packages:
    description: Install packages
    steps:
      - run:
          name: Install packages
          environment:
            # Keep Ubuntu from doing stupid things
            DEBIAN_FRONTEND: noninteractive
            NEEDRESTART_MODE: l
          command: |
            sudo apt-get update
            sudo apt-get install -y clang docker-compose zlib1g-dev
            curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y

jobs:
  fmt:
    docker:
      - image: quay.io/influxdb/rust:ci
    environment:
      # Disable incremental compilation to avoid overhead. We are not preserving these files anyway.
      CARGO_INCREMENTAL: "0"
      # Disable full debug symbol generation to speed up CI build
      # "1" means line tables only, which is useful for panic tracebacks.
      CARGO_PROFILE_DEV_DEBUG: "1"
      # https://github.com/rust-lang/cargo/issues/10280
      CARGO_NET_GIT_FETCH_WITH_CLI: "true"
    steps:
      - checkout
      - rust_components
      - cache_restore
      - run:
          name: Rust fmt
          command: cargo fmt --all -- --check
      - cache_save
  lint:
    docker:
      - image: quay.io/influxdb/rust:ci
    environment:
      # Disable incremental compilation to avoid overhead. We are not preserving these files anyway.
      CARGO_INCREMENTAL: "0"
      # Disable full debug symbol generation to speed up CI build
      # "1" means line tables only, which is useful for panic tracebacks.
      CARGO_PROFILE_DEV_DEBUG: "1"
      # https://github.com/rust-lang/cargo/issues/10280
      CARGO_NET_GIT_FETCH_WITH_CLI: "true"
    steps:
      - checkout
      - rust_components
      - cache_restore
      - run:
          name: Clippy
          command: cargo clippy --all-targets --all-features --workspace -- -D warnings
      - run:
          name: Check versions
          command: .circleci/check_versions.sh
      - run:
          name: yamllint
          command: yamllint --strict .
      - run:
          name: shellcheck
          command: find . \( -name target -prune \) -o -type f \( -iname '*.sh' -or -iname '*.bash' \) -exec shellcheck {} \;
      - cache_save
  cargo_audit:
    docker:
      - image: quay.io/influxdb/rust:ci
    environment:
      # Disable incremental compilation to avoid overhead. We are not preserving these files anyway.
      CARGO_INCREMENTAL: "0"
      # Disable full debug symbol generation to speed up CI build
      # "1" means line tables only, which is useful for panic tracebacks.
      CARGO_PROFILE_DEV_DEBUG: "1"
      # https://github.com/rust-lang/cargo/issues/10280
      CARGO_NET_GIT_FETCH_WITH_CLI: "true"
    steps:
      - checkout
      - rust_components
      - run:
          name: cargo-deny Checks
          command: cargo deny check -s
  doc:
    docker:
      - image: quay.io/influxdb/rust:ci
    environment:
      # Disable incremental compilation to avoid overhead. We are not preserving these files anyway.
      CARGO_INCREMENTAL: "0"
      # Disable full debug symbol generation to speed up CI build
      # "1" means line tables only, which is useful for panic tracebacks.
      CARGO_PROFILE_DEV_DEBUG: "1"
      # https://github.com/rust-lang/cargo/issues/10280
      CARGO_NET_GIT_FETCH_WITH_CLI: "true"
    steps:
      - checkout
      - rust_components
      - cache_restore
      - run:
          name: Cargo doc
          command: cargo doc --all-features --document-private-items --no-deps --workspace
      - cache_save
      - run:
          name: Compress Docs
          command: tar -cvzf rustdoc.tar.gz target/doc/
      - store_artifacts:
          path: rustdoc.tar.gz

  test-redpanda:
    machine:
      image: default
    resource_class: xlarge  # use of a smaller executor tends crashes on link
    environment:
      # Disable incremental compilation to avoid overhead. We are not preserving these files anyway.
      CARGO_INCREMENTAL: "0"
      # Disable full debug symbol generation to speed up CI build
      # "1" means line tables only, which is useful for panic tracebacks.
      CARGO_PROFILE_DEV_DEBUG: "1"
      # https://github.com/rust-lang/cargo/issues/10280
      CARGO_NET_GIT_FETCH_WITH_CLI: "true"
      RUST_BACKTRACE: "1"
      RUST_LOG: "trace"
      # Run integration tests
      TEST_INTEGRATION: 1
      TEST_BROKER_IMPL: redpanda
      TEST_JAVA_INTEROPT: 1
      # Don't use the first node here since this is likely the controller and we want to ensure that we automatically
      # pick the controller for certain actions (e.g. topic creation) and don't just get lucky.
      KAFKA_CONNECT: "invalid:9013,localhost:9011,redpanda-1:9021"
      KAFKA_SASL_CONNECT: "localhost:9097"
      SOCKS5_PROXY: "localhost:1080"
    steps:
      - checkout
      - install_packages
      - rust_components
      - cache_restore
      - run:
          name: start container
          command: docker-compose -f docker-compose-redpanda.yml up
          background: true
      - run:
          name: Cargo test
          command: cargo test --all-features --all-targets
      # extra step required due to https://github.com/rust-lang/cargo/issues/11015
      - run:
          name: Cargo test doctests
          command: cargo test --all-features --doc
      - cache_save
      - store_artifacts:
          path: proptest-regressions

  test-kafka:
    machine:
      image: default
    resource_class: xlarge  # use of a smaller executor tends crashes on link
    environment:
      # Disable incremental compilation to avoid overhead. We are not preserving these files anyway.
      CARGO_INCREMENTAL: "0"
      # Disable full debug symbol generation to speed up CI build
      # "1" means line tables only, which is useful for panic tracebacks.
      CARGO_PROFILE_DEV_DEBUG: "1"
      # https://github.com/rust-lang/cargo/issues/10280
      CARGO_NET_GIT_FETCH_WITH_CLI: "true"
      RUST_BACKTRACE: "1"
      RUST_LOG: "trace"
      # Run integration tests
      TEST_INTEGRATION: 1
      TEST_BROKER_IMPL: kafka
      TEST_JAVA_INTEROPT: 1
      # Don't use the first node here since this is likely the controller and we want to ensure that we automatically
      # pick the controller for certain actions (e.g. topic creation) and don't just get lucky.
      KAFKA_CONNECT: "invalid:9013,localhost:9011,kafka-1:9021"
      KAFKA_SASL_CONNECT: "localhost:9097"
      SOCKS5_PROXY: "localhost:1080"
    steps:
      - checkout
      - install_packages
      - rust_components
      - cache_restore
      - run:
          name: start container
          command: docker-compose -f docker-compose-kafka.yml up
          background: true
      - run:
          name: Cargo test
          command: cargo test --all-features --all-targets
      # extra step required due to https://github.com/rust-lang/cargo/issues/11015
      - run:
          name: Cargo test doctests
          command: cargo test --all-features --doc
      - cache_save
      - store_artifacts:
          path: proptest-regressions

  # Builds RSKafka w/ default features.
  build-default-features:
    docker:
      - image: quay.io/influxdb/rust:ci
    resource_class: xlarge  # use of a smaller executor tends crashes on link
    environment:
      # Disable incremental compilation to avoid overhead. We are not preserving these files anyway.
      CARGO_INCREMENTAL: "0"
      # Disable full debug symbol generation to speed up CI build
      # "1" means line tables only, which is useful for panic tracebacks.
      CARGO_PROFILE_DEV_DEBUG: "1"
      # https://github.com/rust-lang/cargo/issues/10280
      CARGO_NET_GIT_FETCH_WITH_CLI: "true"
    steps:
      - checkout
      - rust_components
      - cache_restore
      - run:
          name: Cargo build
          command: cargo build
      - cache_save

  # Builds RSKafka with minimal features.
  build-no-default-features:
    docker:
      - image: quay.io/influxdb/rust:ci
    resource_class: xlarge  # use of a smaller executor tends crashes on link
    environment:
      # Disable incremental compilation to avoid overhead. We are not preserving these files anyway.
      CARGO_INCREMENTAL: "0"
      # Disable full debug symbol generation to speed up CI build
      # "1" means line tables only, which is useful for panic tracebacks.
      CARGO_PROFILE_DEV_DEBUG: "1"
      # https://github.com/rust-lang/cargo/issues/10280
      CARGO_NET_GIT_FETCH_WITH_CLI: "true"
    steps:
      - checkout
      - rust_components
      - cache_restore
      - run:
          name: Cargo build
          command: cargo build --no-default-features --all-targets
      - cache_save

  # Builds RSKafka w/ all features.
  build-all-features:
    docker:
      - image: quay.io/influxdb/rust:ci
    resource_class: xlarge  # use of a smaller executor tends crashes on link
    environment:
      # Disable incremental compilation to avoid overhead. We are not preserving these files anyway.
      CARGO_INCREMENTAL: "0"
      # Disable full debug symbol generation to speed up CI build
      # "1" means line tables only, which is useful for panic tracebacks.
      CARGO_PROFILE_DEV_DEBUG: "1"
      # https://github.com/rust-lang/cargo/issues/10280
      CARGO_NET_GIT_FETCH_WITH_CLI: "true"
    steps:
      - checkout
      - rust_components
      - cache_restore
      - run:
          name: Cargo build
          command: cargo build --all-features
      - cache_save

  # Builds fuzzing.
  build-fuzz:
    docker:
      - image: quay.io/influxdb/rust:ci
    resource_class: xlarge  # use of a smaller executor tends crashes on link
    environment:
      # Disable incremental compilation to avoid overhead. We are not preserving these files anyway.
      CARGO_INCREMENTAL: "0"
      # Disable full debug symbol generation to speed up CI build
      # "1" means line tables only, which is useful for panic tracebacks.
      CARGO_PROFILE_DEV_DEBUG: "1"
      # https://github.com/rust-lang/cargo/issues/10280
      CARGO_NET_GIT_FETCH_WITH_CLI: "true"
    steps:
      - checkout
      - rust_components
      - cache_restore
      - run:
          name: Install cargo-fuzz
          command: cargo install cargo-fuzz
      - run:
          name: Install nightly toolchain
          command: rustup toolchain install nightly-x86_64-unknown-linux-gnu
      - run:
          name: Cargo fuzz build
          command: cargo +nightly fuzz build
      - cache_save

  # Runs fuzzing
  run-fuzz:
    docker:
      - image: quay.io/influxdb/rust:ci
    resource_class: xlarge  # use of a smaller executor tends crashes on link
    environment:
      # Disable incremental compilation to avoid overhead. We are not preserving these files anyway.
      CARGO_INCREMENTAL: "0"
      # Disable full debug symbol generation to speed up CI build
      # "1" means line tables only, which is useful for panic tracebacks.
      CARGO_PROFILE_DEV_DEBUG: "1"
      # https://github.com/rust-lang/cargo/issues/10280
      CARGO_NET_GIT_FETCH_WITH_CLI: "true"
    steps:
      - checkout
      - rust_components
      - cache_restore
      - restore_cache:
          name: Restoring artifacts & corpus
          keys:
            - fuzz-state
      - run:
          name: Install cargo-fuzz
          command: cargo install cargo-fuzz
      - run:
          name: Install nightly toolchain
          command: rustup toolchain install nightly-x86_64-unknown-linux-gnu
      - run:
          name: Cargo fuzz build
          command: cargo +nightly fuzz build
      - run:
          name: Run fuzzers
          command: |
            for f in ./fuzz/fuzz_targets/*.rs; do
              cargo +nightly fuzz run "$(basename "$f" .rs)" -- -runs=100000
            done
      - save_cache:
          name: Save artifacts & corpus
          paths:
            - fuzz/artifacts
            - fuzz/corpus
          key: fuzz-state-{{ epoch }}
          when: always
      - store_artifacts:
          path: fuzz/artifacts
      - cache_save
      - slack/notify:
          event: fail
          template: basic_fail_1

workflows:
  version: 2

  # CI for all pull requests.
  ci:
    jobs:
      - fmt
      - lint
      - cargo_audit
      - test-redpanda
      - test-kafka
      - build-default-features
      - build-no-default-features
      - build-all-features
      - build-fuzz
      - doc

  # Run fuzzers based on a project-wide trigger
  fuzz:
    when:
      and:
        - equal: [scheduled_pipeline, << pipeline.trigger_source >>]
        - equal: ["fuzz", << pipeline.schedule.name >>]
    jobs:
      - run-fuzz
